.container {
    max-width: 1100px;
    margin: auto;
}

form {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

form div {
    margin: 10px 0;
}

form div input,
form div select {
    width: 100%;
    padding: 8px 20px;
    outline: none;
}

form button {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin: 20px 0;
}